.banner-section {
    background: url('../resources/Banner Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    border-radius: 16px;
    color: white;
    text-align: center;
    margin: 0 140px;
    font-family: 'Merriweather', serif;
}

.banner-para {
    padding-top: 120px;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-heading {
    padding: 0 100px;
    padding-bottom: 120px;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}

.offer-section {
    margin: 0 398px;
    margin-top: 120px;
}

.offer-section h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 66px;
    font-weight: 700;
}

.offer-section p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-section h3 {
    margin-top: 0px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
}

.offer-section img {
    width: 100%;
}

.party-section {
    background: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    max-width: 990px;
    margin: 120px auto;
}

.party-content {
    display: flex;
    justify-content: space-between;
}

.party-text {
    padding-left: 94.5px;
    padding-top: 94.5px;
    max-width: 522.75px;
}

.party-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: 7.04px;
}

.party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
}

.party-text button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    background-color: black;
    padding: 10px 15px;
}

.party-text button:hover{
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
}

.party-image{
    padding-right: 94.5px;
    padding-top: 94.5px;
    padding-bottom: 50px;
}

.party-image img{
    width: 240px;
    height: 348.75px;
}