.banner-section {
    background: url('../resources/Banner Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 37.5px;
    font-family: 'Merriweather', serif;
}

.banner-content {
    padding: 13px;
}

.banner-para {
    padding-top: 120px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-heading {
    padding: 0 100px;
    padding-bottom: 120px;
    font-size: 54px;
    font-weight: 900;
    line-height: 71.25px;
    max-width: 474px;
    margin: 0 auto;
}

.offer-section {
    margin: 0 398px;
    margin-top: 120px;
}

.offer-section h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 66px;
    font-weight: 700;
}

.offer-section p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-section h3 {
    margin-top: 0px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
}

.offer-section img {
    width: 100%;
}

.party-section {
    background: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    width: 100%;
    margin: 120px auto;
    border-radius: 16px;
}

.party-content {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}

.party-text {
    padding-left: 94.5px;
    padding-top: 94.5px;
    max-width: 522.75px;
}

.party-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: 7.04px;
}

.party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
}

.party-text button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    background-color: black;
    padding: 10px 15px;
    margin: 10px 15px;
}

.party-text button:hover {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
}

.party-image {
    padding-right: 94.5px;
    padding-top: 94.5px;
    padding-bottom: 50px;
}

.party-image img {
    width: 240px;
    height: 348.75px;
}

.location-section {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0.00));
    max-width: 1100px;
    margin: 120px auto;
    border-radius: 16px;
}

.location-content {
    padding-top: 75px;
    text-align: center;
}

.location-content p {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}

.marked {
    color: #F00;
}

.location-content button {
    margin-top: 36px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.location-content button:hover {
    background-color: transparent;
    border: 2px solid #F00;
    color: #F00;
}

.bestDeal-section {
    max-width: 1100px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
}

.first-col {
    padding-top: 48px;
    max-width: 294.75px;
    margin-right: 52.5px;
}

.first-col h4 {
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.first-col h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 900;
}

.para {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.second-col {
    border-radius: 463px;
    border: 15px solid #F00;
}

.second-col img {
    padding: 30px;
}

.third-col {
    padding-top: 48px;
    margin-left: 88px;
}

.third-col h1 {
    color: #F00;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
}

.third-col img {
    margin-top: 33px;
}

.holiday-section {
    max-width: 1100px;
    margin: 120px auto;
}

.holiday-content{
    margin: 0 auto;
    max-width: 801px;
    text-align: center;
}

.holiday-content h4 {
    color: #070211;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.holiday-content h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 900;
}

.shopping{
    position: relative;
}

.shopping .present{
    position: absolute;
    top: 140px;
    left: -80px;
    height: 550px;
}

.shopping .girl{
    position: absolute;
    top: 67px;
    right: 0;
}

.shopping .fifty{
    position: absolute;
    top: 145px;
    right: 275px;
}

.holiday-design .redbar{
    width: 100%;
    margin-top: 500px;
}

.portfolio-section {
    max-width: 1100px;
    margin: 120px auto;
}

.portfolio-text{
    max-width: 672px;
}

.portfolio-section h5 {
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.portfolio-section h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 900;
    margin-top: 0px;
}

.portfolio-content {
    margin-top: 36px;
}

.item-row {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.item-row img {
    max-width: 350px;
}

.item-row img:hover {
    border: 3px solid #316FF6;
    border-radius: 16px;
}

.newsletter {
    background: rgba(255, 0, 0, 0.05);
    max-width: 1100px;
    margin: 120px auto;
    border-radius: 16px;
}

.news-content {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 672px;
    margin: 0 auto;
}

.news-content h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 900;
    margin-top: 30px;
}

.subs {
    position: relative;
}

.subs input {
    border: none;
    border-radius: 50px;
    padding: 20px 30px;
    padding-right: 250px;
    margin-top: 36px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 13.5px;
    font-weight: 400;
}

.subs button {
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 18px 30px;
    color: #FFF;
    position: absolute;
    top: 36px;
    right: 105px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
}

.subs button:hover{
    background-color: transparent;
    border: 1px solid #F00;
    color: #F00;
}

.contact-details {
    background-color: #070211;
    color: #FFF;
}

.contact {
    padding-top: 90px;
    padding-left: 110px;
    padding-right: 218px;
    display: flex;
    justify-content: space-between;
}

.add {
    padding-bottom: 37.5px;
}

.add p {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.phone {
    padding-top: 20px;
}

.phone p {
    display: inline;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.phone img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.social-icons {
    text-align: center;
}

.social-icons img {
    width: 48px;
    height: 48px;
    margin: 36px 0px;
    margin-right: 18px;
}

.license {
    display: flex;
    justify-content: space-between;
}

.license p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    padding: 37.5px 105px;
}

.contact-details hr {
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
    width: 84%;
    border: none;
}

.contact-details a {
    text-decoration: none;
    color: #FFF;
}